# виртуальное окружение (обязательно)
.venv/

# временные файлы Python
__pycache__/
*.pyc

# Jupyter (если используешь .ipynb — а ты используешь)
.ipynb_checkpoints/

# настройки VS Code (если вы не хотите делиться конфигами)
.vscode/
